{{ $nomor := 0 }}
{{ range .fileprocess }}
    <tr>
        {{ $nomor = increment $nomor 1 }}
        <td>{{ $nomor }}</td>
        <td>{{ .Periode }}</td>
        <td>{{ .File }}</td>
        <td>{{ .Category }}</td>
        <td> {{ .CreatedAt }}</td>
        <td>{{ .UpdatedAt }}</td>
        <td>
            <button class="editsalary" data-id="{{ .Id }}" style="cursor: pointer; padding:7px; height:30px; background-color:#b1d84d; color:white; border-radius:4px; outline-color: white;">
                @ Edit
            </button>
        </td>
    </tr>
{{ end }}