<!-- Modal content -->
<div class="modaladdsalary-content">
    <span class="close">&times;</span>
    <center>
        <h3 style="color: #66a0d0;">{{ .title }}</h3>
    </center>
    <center>
        <form action="/jpayroll/salaryupdate" method="POST" enctype="multipart/form-data">
            <label for="periode">Periode</label>
            <input type="month" name="periode" id="" value="{{ .fileprocess.Periode }}" class="inputmodalsalary"
                required>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <label for="file">File</label>
            <input type="file" name="file" id="" class="inputmodalsalary" required>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <label for="category">Category</label>
            <select name="category" id="" class="inputmodalsalary" required>
                <option value="Salary">Salary</option>
            </select>
            <br>
            {{ if .fileprocess.Id }}
                <input type="hidden" name="id" value="{{ .fileprocess.Id }}">
                <button type="submit"style="cursor: pointer; padding:3px; height:30px; border-radius:3px; background-color:#66a0d0; color:white;">
                    Update
                </button>
            {{ else }}
                <button type="submit"style="cursor: pointer; padding:3px; height:30px; border-radius:3px; background-color:#66a0d0; color:white;">
                    Submit
                </button>
            {{ end }}


        </form>
    </center>
</div>