.editmain {
    display: flex;
  flex-direction: row;
  /* font-size: 30px; */
  /* color: green; */
  /* border: 4px solid green; */
  /* padding: 5px; */
  width: 1050px;
}

.editmain .coloumn {
  /* border: 2px solid red; */
  /* margin: 10px 20px; */
  width: 370px;
}


 #tablesalarydata {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #tablesalarydata td, #tablesalarydata th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #tablesalarydata tr:nth-child(even){background-color: #f2f2f2;}
  
  #tablesalarydata tr:hover {background-color: #ddd;}
  
  #tablesalarydata th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #806cc094;
    color: white;
  } 

  /* The Modal (background) */
.modaladdsalary {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
 /* z-index: 1;  Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 120px;
  /* right: 240px; */
  top: 0;
  width: 100%;  /*Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modaladdsalary-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/* INPUT MODAL ADD SALARY */

.inputmodalsalary {
  width: 20%;
  padding: 3px 7px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}